.App {
  text-align: center;
}

.imgContainer {
  display: float;
  margin-left: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 625px;
  max-height: 80vh;
  margin: 0px;
  padding:25px;
  border-radius: 8px;
  background: #777777f4;
}

.directions {
  text-align: center;
  color: rgb(247, 244, 246);
  font-size: 15px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 8px;
  line-height: 1.4;
}

.connectWallet {
  cursor: pointer;
  margin-top: 15px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(210, 187, 11);
  color: whitesmoke;
  font-size: 22px;
}

.title {
  color: rgb(210, 187, 11);
}

.idCard {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
  padding-bottom: 5px;
}

.name {
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-align: center;
  font-size: 28px;
  text-emphasis: bold;
  margin-bottom: 5px;
}

.info {
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.decryptId {
  cursor: pointer;
  margin-top: 15px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(42, 42, 42);
  color: whitesmoke;
}